<%
--[[ Define some variables to make locating other resources easier
     firstPage was defined in our manifest.]]

    local others = "content"
    local theRoot = "."
    local mySize = "large"
    local firstImage
    local title
    local caption
    local width
    local height
%>
<%
	--[[ determine the first image within the gallery ]]
    if numImages > 0 then
    	firstImage = others .. "/bin/images/large/" .. getImage(1).exportFilename .. ".jpg"
        title = getImage(1).metadata.title
        caption = getImage(1).metadata.description
        height = getImage(1).renditions.large.height
        width = getImage(1).renditions.large.width
    else
    	firstImage = "blank.jpg"
        title = "Add some images to LightRoom to display metadata here"
        caption = "Add some images to LightRoom to display metadata here"
    end
%>
<%@ include file="header.html" %>
<body>
  <div id="title">
    <h1>$model.metadata.siteTitle.value</h1>
    <p id="description"></p>
    <p id="details">Copyright &copy;2012&nbsp;<a href="http://majid.info/blog/">Fazal Majid.</a> All rights reserved. &mdash; <span id="info"></span></p>
  </div>
  <div id="thumbnails">
    <fm:ul>
      <li><a href="$others/bin/images/large/<%= image.exportFilename %>.jpg"><img src="$others/bin/images/thumb/<%= image.exportFilename %>.jpg" alt="<%=image.metadata.title %>" title="<%=image.metadata.description %>" data-valign="top"></a></li>
    </fm:ul>
  </div>
  <div id="pause"><a href="#">Paused</a></div>
</body>
</html>
